@import './components/reset.css'

.conteiner{
	width: 100%;
	max-width: 1248px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-rows: 80px minmax(700px, auto) 80px;
	grid-template-columns: repeat(6, 1fr);

	grid-gap: 5px;
	grid-template-areas: 
	"h h h h h h"
	"s m m m m m"
	"f f f f f f";

}
.header{
	grid-area: h;
	background-color: rgb(16, 97, 6);
}
.main {
	width: 100%;
	grid-area: m;
	background-color: yellow;
	border-radius: 10px 0 0 10px;
}
.sidebar{
	grid-area: s;
	background-color: rgb(6, 97, 6);
	border-radius: 0 10px 10px 0;
}
.footer{
	grid-area: f;
	background-color: rgb(16, 97, 6);
}